<html>
  <head>
    <title>Can I call it... <%= term %>?</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <body>
    <div id="header">
      <form id="form" action="/" method="get">
        <h1>Can I Call It...
          <input type="text" name="search" value="<%= term %>" autofocus="autofocus"/>?
          <input type="submit" style="position: absolute; left: -9999px"/>
        </h1>
      </form>
    </div>
    <div id="result">

      <h1><%= heading %></h1>

      <% if defined? summary1 %>
        <h2><%= summary1 %></h2>
      <% end %>

      <% if exactMatches.length > 0 %>
        <h2><%= summary2 %></h2>
        <table border=1 cellspacing=0 cellpadding=3>
          <tr><th>Project</th><th>By...</th><th>Found on...</th><th>Description</th></tr>
          <% exactMatches.each do |m| %>
            <tr>
              <td><a href='<%= m[:url] %>'><%= m[:name] %></a></td>
              <td><%= m[:by] %></td>
              <td><%= m[:source] %></td>
              <td><%= m[:description] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>

      <% if matches.length > 0 %>
        <h2><%= summary3 %></h2>
        <table border=1 cellspacing=0 cellpadding=3>
          <tr><th>Project</th><th>By...</th><th>Found on...</th><th>Description</th></tr>
          <% matches.each do |m| %>
            <tr>
              <td><a href='<%= m[:url] %>'><%= m[:name] %></a></td>
              <td><%= m[:by] %></td>
              <td><%= m[:source] %></td>
              <td><%= m[:description] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>

    </div>
    <div id="metadata">
      <p>
        <% if okServices.length > 0 %>
            This result was based on project data from:&nbsp;
            <% okServices.each do |s| %>
              <%= s %>&nbsp;
            <% end %><br/>
        <% end %>

        <% if erroredServices.length > 0 %>
          <span class="error">
            Due to a communication problem, this page does not include results from:&nbsp;
            <% erroredServices.each do |s| %>
              <%= s %>&nbsp;
            <% end %>
          </span><br/>
        <% end %>

        No checking is performed to find 'duplicate-ish' results, e.g. a Ruby Gem that uses Github for version control may be listed twice.<br/>

        Only Github repositories with ><%= githubminwatchers %> watchers are considered 'significant' enough to worry about.
      </p>
    </div>
    <div id="footer">
      <p>"Can I Call It...?" is a simple script for checking if the name you'd like for your new, shiny project has already been used by somebody else.</p>
      <p>It was written by <a href="http://ianrenton.com">Ian Renton</a>. Source code is available on <a href="https://github.com/ianrenton/canicallit">Github</a> under the <a href="https://github.com/ianrenton/canicallit/blob/master/LICENCE.md">BSD licence</a>.</p>
    </div>

    <div class="modal"></div>
    <script>
    $('form').submit(function() {
      $('body').addClass('loading');
      return true;
    });
    </script>
  </body>
</html>
